		.gai-right{
			padding-right: 8px;
    	}
    	.gai-left{
			padding-left: 8px;
    	}
    	.row{
    		line-height:50px;
    	}
    	.border-bottom{
    		border-bottom:1px solid #ccc;
    	}
    	.photo-mark-1-1{
    		background:#eaf0ac;
    		width:50px;
    		height:55px;
    		border-radius:30px;
    		margin-top:20px;
    	}
    	.photo-mark-1-2{
    		background:#add7f0;
    		width:50px;
    		height:55px;
    		border-radius:30px;
    		margin-top:20px;
    	}
    	.photo-mark-1-3{
    		background:#baf0ad;
    		width:50px;
    		height:55px;
    		border-radius:30px;
    		margin-top:20px;
    	}
    	.photo-mark-2{
    		background:#adf0d7;
    		width:100%;
    		height:180px;
    		border-radius:10px;
    	}
    	.photo-mark-3{
    		background:#ccadf0;
    		width:100%;
    		height:82px;
    		border-radius:10px;
    	}
    	.photo-mark-4{
    		background:#f0dcad;
    		width:100%;
    		height:82px;
    		margin-top:16px;
    		border-radius:10px;
    	}
    	.photo-mark-5{
    		background:#c7cbcc;
    		width:100%;
    		height:82px;
    		border-radius:10px;
    	}
    	.text-wz-1{
    		position:absolute;
    		left:35px;
    		top:5px;
    	}
    	.text-wz-2{
    		position:absolute;
    		left:35px;
    		top:5px;
    	}
    	.photo-text{
    		text-align:center;
    		line-height:35px;
    	}
    	.title{
    		font-size:16px;
    		text-align:center;
    	}
    	.tub-title{
    		font-size:20px;
    		font-weight:bold;
    	}
    	.order{
    		text-align:right;
    	}
    	/* temp3 */
		#temp3{
			height:100px;
			width:100%;
			margin-top:10px;
			position:relative;
			
		}
		#temp3 .JQ-content-box{
			float:left;
			overflow:hidden;
			width:100%;
			height:100px;
			position:relative;
		}
		#temp3 .JQ-content-box .JQ-slide-content  li{
			position:absolute;
			top:0;
			left:0;
		}
		#temp3 .JQ-content-box img{
			width:100%;
			height:100px;
			display:block;
			border-radius:6px;
		}
		#temp3 .JQ-slide-nav{
			position:absolute;
			bottom:0px;
			left:45%;
			display:block;
			width:50px;
			height:10px;
			margin:0px;
			padding:0px;
			z-index:100;
		}
		#temp3 .JQ-slide-nav li{
			display:inline;
			float:left;
			margin-left:4px;
			width:8px;
			line-height:10px;
			height:8px;
			padding:0px;
			border-radius:4px;
			background-color:#fff;
			border:1px solid #ccc;
			cursor:pointer;
			text-align:center;
		}
		#temp3 .JQ-slide-nav li.on{
			background-color:#000;
			border-color:#ccc;
			height:8px;
			line-height:10px;
			margin-bottom:3px;
			width:8px;
		}